@import '../../../shared/color.scss';
:host {
  margin: 0 auto;
}
.info {
  margin-bottom: 5em;
}
.btn-container {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  .btn {
    color: white;
    border-radius: 5px;
    padding: .5em 1em;
    font-weight: 700;
    width: calc(50% - .75em);
    text-align: center;
    &.--main {
      background: $mainColorDark;
    }
    &.--sub {
      background: $subBtnColor;
    }
  }
}
.summary {
  align-items: flex-start;
}
.info {
  .desc p {
    margin-top: 0;
    color: #333;
    font-weight: 500;
  }
}
/*** Devices Section ***/
.devices {
  width: 100%;
  position: relative;
  margin: 5em 0;
  margin-bottom: 8em;
  img.loaded {
    border: 1px solid #cecece;
  }
  .desktop {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    display: block;
    z-index: 1;
  }
  .tablet {
    width: 33%;
    max-width: 33%;
    z-index: 2;
    position: absolute;
    left: 10%;
    bottom: -2em;
  }
  .mobile {
    width: 15%;
    max-width: 15%;
    z-index: 3;
    position: absolute;
    left: 2%;
    bottom: -3.5em;
  }
}
/*** Date section ***/
.date-wrapper {
  display: flex;
  justify-content: space-between;
  .date-title {
    color: #555;
    font-weight: 600;
  }
  .date {
    color: #333;
    font-weight: 600;
  }
}
/*** Technology Section ***/
.tech-container {
  margin-top: 3em;
  .tech-title {
    color: $mainColorDark;
    font-weight: 600;
    font-size: 1.25em;
  }
  .tech-list {
    margin: 0;
    list-style: none;
    padding: 0;
    .tech {
      position: relative;
      padding-left: 1.1em;
      margin-bottom: .5em;
      color: #333;
      &:before {
        content: '';
        margin-right: 0.5em;
        color: #5F8CA8;
        width: 8px;
        height: 8px;
        background: #5F8CA9;
        border-radius: 50%;
        position: absolute;
        left: 0em;
        top: 8px;
      }
      .tech-text {
        font-weight: 600;
      }
    }
  }
}
/*** GIF Section ***/
.gif {
  margin: 4em 0;
  img.loaded {
    border: 1px solid #cecece;
  }
  .desktop {
    width: 100%;
    max-width: 100%;
  }
  .gif-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3em;
    .tablet {
      width: calc(66% - .5em);
      max-width: calc(66% - .5em);
    }
    .mobile {
      width: calc(33% - .5em);
      max-width: calc(33% - .5em);
    }
  }
}
@media (orientation: portrait) {
  @media (min-width: 600px){
    .btn-container {
      justify-content: unset;
      .btn {
        max-width: 200px;
        margin-right: 1em;
      }
    }
    .date-wrapper {
      justify-content: unset;
      .date-title {
        margin-right: 1em;
      }
    }
    .tech-list {
      display: flex;
      flex-wrap: wrap;
      .tech {
        width: calc(50% - .5em);
      }
    }
  }
  @media (min-width: 950px) {
    .btn-container {
      .btn {
        max-width: 250px;
      }
    }
    .tech-list {
      display: flex;
      flex-wrap: wrap;
      .tech {
        width: calc(33% - .5em);
      }
    }
  }
}
@media (orientation: landscape) {
  .btn-container {
    justify-content: unset;
    .btn {
      width: calc(33% - .75em);
      max-width: 200px;
      margin-right: 1em;
    }
  }
  .devices {
    flex: 1;
    margin: 5em auto;
    margin-bottom: 10em;
    .tablet {
      bottom: -1em;
    }
    .mobile {
      bottom: -2em;
    }
  }
  .date-wrapper {
    justify-content: unset;
    .date-title {
      margin-right: 1em;
    }
  }
  .tech-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
    .tech {
      width: calc(50% - .5em);
    }
  }
  .gif {
    .desktop {
      width: 80%;
      max-width: 80%;
      display: block;
      margin: auto;
    }
    .gif-wrapper {
      width: 60%;
      margin: 4em auto;
    }
  }
  @media (min-width: 950px) {
    /*** Summary Section ***/
    .summary {
      display: flex;
      .info {
        flex: 2;
        margin: 0;
        .desc {
          margin: 0;
          width: 80%;
        }
      }
    }
    .btn-container {
      .btn {
        width: 9em;
        margin-right: 2em;
      }
    }
    /*** Detail Section ***/
    .date-wrapper {
      margin: 2em 0;
    }
    .tech-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      max-height: 150px;
      .tech {
        width: calc(33% - .5em);
      }
    }
    /*** GIF Section ***/
    .gif {
      display: flex;
      align-items: baseline;
      margin: 2em 0;
      .desktop {
        width: 60%;
        display: unset;
        margin: unset;
        margin-right: 2em;
      }
      .gif-wrapper {
        width: 40%;
        .tablet {
          width: calc(66% - 1em);
        }
        .mobile {
          width: calc(33% - 1em);
        }
      }
    }
  }
  @media (min-width: 1000px) {
    .info {
      .desc {
        p {
          font-size: 16px;
        }
      }
    }
    .gif {
      margin: 0;
    }
    .tech-list {
      .tech {
        font-size: .9em;
      }
    }
  }
}
