<div class="page-wrapper">
  <div class="inner-page-wrapper">
    <h1 class="page-title">{{ workData?.title }}</h1>
    <!-- Summary Section -->
    <section class="summary">
      <!-- Info section -->
      <div class="info">
        <p class="desc">{{ workData?.desc }}</p>
        <div class="btn-container">
          <a [href]="workData?.demoLink" target="blank" class="btn --main" aria-label="Live Demo">Live Demo</a>
          <a [href]="workData?.sourceLink" target="blank" class="btn --sub" aria-label="Source Link">Source Code</a>
        </div>
      </div><!-- End of info section -->
      <!-- Devices section -->
      <div class="devices">
        <img *ngIf="workData?.imgs.desktop"
            [src]="workData?.imgs.desktop"
            [alt]="workData?.title"
            class="desktop"
            #desktopImg
            (load)="imgLoadComplete(desktopImg)">
        <img *ngIf="workData?.imgs.tablet"
             [src]="workData?.imgs.tablet"
             [alt]="workData?.title"
             class="tablet"
             #tabletImg
             (load)="imgLoadComplete(tabletImg)">
        <img *ngIf="workData?.imgs.mobile"
             [src]="workData?.imgs.mobile"
             [alt]="workData?.title"
             class="mobile"
             #mobileImg
             (load)="imgLoadComplete(mobileImg)">
      </div><!-- End of devices section -->
    </section><!-- End of summary section -->
    <!-- Detail section -->
    <section class="detail">
      <!-- Date section -->
      <div class="date-wrapper">
        <span class="date-title">Date released:</span>
        <span class="date">{{ workData?.date }}</span>
      </div><!-- End of date section -->
      <!-- Technology section -->
      <div class="tech-container">
        <h2 class="tech-title">Technologies</h2>
        <ul class="tech-list">
          <li class="tech" *ngFor="let tech of workData?.technologies">
            <strong class="tech-text">{{ tech }}</strong>
          </li>
        </ul>
      </div>
    </section><!-- End of detail section -->
    <!-- GIF Section -->
    <section class="gif">
      <img *ngIf="workData?.gifs.desktop"
           [src]="workData?.gifs.desktop"
           [alt]="workData?.title"
           class="desktop"
           #desktopGif
           (load)="imgLoadComplete(desktopGif)">
      <div class="gif-wrapper">
        <img *ngIf="workData?.gifs.tablet"
             [src]="workData?.gifs.tablet"
             [alt]="workData?.title"
             class="tablet"
             #tabletGif
             (load)="imgLoadComplete(tabletGif)">
        <img *ngIf="workData?.gifs.mobile"
             [src]="workData?.gifs.mobile"
             [alt]="workData?.title"
             class="mobile"
             #mobileGif
             (load)="imgLoadComplete(mobileGif)">
      </div>
    </section>
  </div>
</div>
