<ngx-json-ld [json]="schema"></ngx-json-ld>
<section class="inner-page-wrapper home-container">
  <h1 class="title">I build professional websites and bring ideas to life</h1>
  <div class="desc-wrapper">
    <span class="desc">Fullstack Developer / Cloud Architect</span>
  </div>
  <div class="cta-container">
    <a class="cta" (click)="onBtnClick($event)" aria-label="my works">My Works</a>
  </div>
  <span class="decor --sql">select name from product ...</span>
  <span class="decor --h1">&lt;h1&gt;</span>
  <span class="decor --seo">SEO</span>
  <span class="decor --ecs">ECS</span>
  <img class="devices" src="/assets/img/devices.png" alt="devices" class="devices">
  <img class="pen" src="/assets/img/pen.png" alt="brush">
</section>
