@import '../shared/color.scss';
@import '../shared/loading.scss';

:host {
  flex: 1;
}
strong {
  font-weight: inherit;
}
.profile-wrapper {
  min-height: 250px;
  background: $imgLoadingBg;
  position: relative;
  overflow: hidden;
  .profile {
    width: 100%;
    max-width: 100%;
  }
  &.img-loaded {
    background: unset;
    min-height: unset;
    display: block;
    .skeleton {
      display: none;
    }
  }
}
/*** Summary Section ***/
.intro {
  font-size: 1em;
}
.email-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
  .email {
    font-weight: 600;
  }
}
.social-links {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 2em 0;
  .social-item {
    font-size: 2em;
    margin-right: 1.5em;
    .social-link__icon {
      color: #333;
    }
  }
}
/*** Skills Section ***/
.skill-container {
  margin-top: 3em;
  overflow: hidden;
}
.skill-title {
  color: $mainColorDark;
  font-weight: bold;
  font-size: 1.56em;
  margin: .5em 0;
}
.skill-card {
  position: relative;
  min-height: 60px;
  margin: 1.5em 0;
  display: flex;
}
.skill-header {
  background: white;
  width: 100%;
  border-radius: 10px;
  .skill-field {
    font-size: 1.125em;
    font-weight: bold;
    color: $mainColorDark;
  }
}
.inner-card-wrapper {
  background: white;
  border-radius: 10px;
  padding: 1.5em;
  transition: all .5s ease-in-out;
  overflow: hidden;
  width: 100%;
  .skill-body {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .skill {
      padding-left: 1.1em;
      position: relative;
      width: 50%;
      font-weight: 500;
      margin-bottom: .5em;
      &:before {
        content: '';
        margin-right: 0.5em;
        color: #5F8CA8;
        width: 8px;
        height: 8px;
        background: #5F8CA9;
        border-radius: 50%;
        position: absolute;
        left: 0em;
        top: 8px;
      }
    }
  }
}
.note-section {
  margin: 1em 0;
  .note .source {
    text-decoration: underline;
  }
}

@media (orientation: portrait) {
  @media (min-width: 300px) and (max-width: 599px) {
    .inner-card-wrapper {
      .skill-body {
        .skill {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: 600px) {
    .profile-wrapper {
      text-align: center;
      .profile {
        width: 60%;
        max-width: 450px;
      }
    }
    .email-wrapper {
      display: block;
      .email {
        margin-left: 1em;
      }
    }
  }
}
@media (orientation: landscape) {
  .profile-wrapper {
    text-align: center;
    .profile {
      width: 60%;
      max-width: 450px;
    }
  }
  @media (min-width: 600px) {
    .email-wrapper {
      display: block;
      .email {
        margin-left: 1em;
      }
    }
  }
  @media (min-width: 1000px) {
    .hero-section {
      display: flex;
      justify-content: space-between;
      .intro {
        order: 1;
        width: calc(66% - 1em);
        p {
          margin-top: 0;
          max-width: 500px;
          font-weight: 500;
        }
      }
      .profile-wrapper {
        order: 2;
        width: calc(33% - 1em);
        .profile {
          width: 95%;
          max-width: 95%;
        }
      }
    }
    .email-wrapper {
      display: block;
      margin-top: 0;
      margin-bottom: 1em;
      .email {
        margin-left: 2em;
      }
    }
    .skill-card-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .skill-card {
        width: calc(50% - 1.5em);
      }
    }
  }
}
