<div class="sidenav">
  <!-- Brand Section -->
  <div class="brand">
    <!-- <span class="brand-name">Bill Chen</span> -->
    <img src="/assets/img/logo.png" aria-label="Bill Chen">
  </div>
  <!-- Menu -->
  <ul class="menu-wrapper">
    <li class="item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}" class="link" aria-label="home" (click)="menuClick()">Home</a>
    </li>
    <li class="item">
      <a routerLink="/works" routerLinkActive="active" class="link" aria-label="my works" (click)="menuClick()">My Works</a>
    </li>
    <li class="item">
      <a routerLink="/css" routerLinkActive="active" class="link" aria-label="css works" (click)="menuClick()">CSS Works</a>
    </li>
    <li class="item">
      <a routerLink="/about" routerLinkActive="active" class="link" aria-label="about" (click)="menuClick()">About</a>
    </li>
  </ul>
</div>
