$mainColor: #70A6C7;
$mainColorDark: #5F8CA8;
$mainColorLight: #CCE7F8;

$sideNavText: #C7CACB;
$homeSubText: #D2D5D6;

$titleColor: #385B71;

$imgLoadingBg: #85bee1;
$subBtnColor: #8AA9BC;

$loadingLight: #c9c7c7;
$loadingDark: #b6b3b3;
