@import '../shared/color.scss';
@import '../shared/cloud.scss';
:host {
  flex: 1;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  padding: 0;
}
.work {
  margin-bottom: 3em;
}
.preview {
  width: 100%;
  max-width: 100%;
}
.work-title {
  display: block;
  font-weight: 500;
  color: #333;
  font-size: 1em;
  text-align: center;
  margin-top: .2em;
}
.img-wrapper {
  min-height: 250px;
  background: $imgLoadingBg;
  position: relative;
  overflow: hidden;
  &.img-loaded {
    background: unset;
    min-height: unset;
    display: block;
    .cloud {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  iframe[src*="codepen.io"] {
    width: 320px !important;
  }
}
@media (min-width: 768px) {
  .work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .work {
      width: calc(50% - 1em);
      margin-bottom: 2em;
    }
  }
}
