<div class="page-wrapper">
  <div class="inner-page-wrapper">
    <h1 class="page-title">CSS Works</h1>
    <ul class="work-list">
      <li class="work" *ngFor="let work of works;let i = index">
        <a class="work-link"  [href]="work.demoLink" [attr.aria-label]="work.title" target="_blank">
          <div class="img-wrapper" #imgWrapper>
            <figure class="cloud"></figure>
            <figure class="cloud --bottom"></figure>
            <img (load)="imgLoadComplete(imgWrapper)" [src]="work.preview" [alt]="work.title" class="preview">
          </div>
          <span class="work-title">{{ work.title }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
