@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap';
@import './app/color.scss';
body {
  margin: 0;
}
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.page-wrapper {
  padding-bottom: 2em;
  .inner-page-wrapper {
    padding: 0 1.5em;
    max-width: 1200px;
    margin: auto;
  }
}
.page-title {
  color: $titleColor;
  font-size: 2em;
  margin-bottom: 1.3em;
  font-weight: 700;
}
@media (orientation: landscape) {
  @media (min-width: 1000px) {
    * {
      font-size: 16px;
    }
  }
}
@media (min-width: 950px) and (orientation: portrait){
  * {
    font-size: 28px;
  }
}
@media (min-width: 750px) and (max-width: 949px){
  * {
    font-size: 20px;
  }
}
@media (min-width: 600px) and (max-width: 749px) {
  * {
    font-size: 18px;
  }
}
