@import 'https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap';
body {
  margin: 0;
}
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.inner-page-wrapper {
  height: 100%;
}
@media (orientation: landscape) {
  @media (min-width: 1000px) {
    * {
      font-size: 16px;
    }
  }
}
@media (min-width: 950px) and (orientation: portrait){
  * {
    font-size: 28px;
  }
}
@media (min-width: 750px) and (max-width: 949px){
  * {
    font-size: 20px;
  }
}
@media (min-width: 600px) and (max-width: 749px) {
  * {
    font-size: 18px;
  }
}
